:root {
  --verbo-purple: #872ce5;
}

.cl-cardBox {
  box-shadow: none !important;
}

.cl-card {
  padding: 2px !important;
}

.cl-cardBox .cl-formButtonPrimary {
  background-color: var(--verbo-purple) !important;
  border-color: transparent !important;
  box-shadow: none !important;
}

.cl-footer {
  display: none !important;
}

.cl-header {
  display: none !important;
}
